:root{
    --main-btncolor: rgb(255, 0, 170);
}
body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg, #1629D6, #B003FC);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.75);
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 3px solid rgb(0, 247, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
div.table-title{
    display: block;
    margin: auto;
    max-width: 380px;
    padding: 5px;
    width: 100%;
}
.table-fill{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: auto;
    margin: auto;
    max-width: 390px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    animation: float 5s infinite;
}
th{
    color: rgb(148, 0, 0);
    background-color: rgba(224, 224, 224, 0.781);
    border-bottom: 4px solid #343a45;
    border-right: 1px solid #343a45;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    vertical-align: middle;
}
th:first-child{
    border-top-left-radius: 3px;
}
th:last-child{
    border-top-right-radius: 3px;
    border-right: none;
}
tr{
    border-top: 3px solid #c1c3d1;
    border-bottom: 3px solid #c1c3d1;
    color: #666b85;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
.table-hover .text-center{
    text-align: center;
    align-items: center;
    align-content: center;
}
a.icon-info-circle{
    text-decoration: none;
    color: black;
    align-items: center;
    align-content: center;
}

.contenedor-botones{
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 15px;
    margin: 0 28%;
    display: inline-flex;
}
.nuevo-contacto{
    text-decoration: none;
    background: var(--main-btncolor);
    border: 3px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 7px 20px;
}
.favoritos{
    text-decoration: none;
    background: var(--main-btncolor);
    border: 3px solid rgb(0, 0, 0);
    margin: 0 ;
    padding: 7px 20px;
    margin: 10px;
}
.icon-user-plus{
    text-decoration: none;
    color: white;
}
.icon-star{
    text-decoration: none;
    color: white;
}

@media (min-width: 768px){
    .center{
        width: 530px;
        transform: translate(-50%, -35%);

    }
    div.table-title{
        max-width: 510px;
    }
    .table-fill{
        max-width: 510px;
        padding: 5px;
    }
    th{
        font-size: 18px;
        font-weight: 100;
    }
    tr{
        font-size: 16px;
        font-weight: normal;
    }
}

@media (min-width: 1024px){
    .contenedor-botones{        
        margin: 100% 100%;
    }
    .center{
        width: 900px;
    }
    div.table-title{
        max-width: 880px;
    }
    .table-fill{
        max-width: 880px;
        padding: 5px;
    }
    th{
        font-size: 26px;
        font-weight: 100;
    }
    tr{
        font-size: 22px;
        font-weight: normal;
    }
}
